{{define "vault"}}

    <section>
        <ul>
            <li>TopLevel: {{.Info.Top}}</li>
            <li>StateLevel: {{.Info.State}}</li>
            <li>SupervisorLevel: {{.Info.Supervisor}}</li>
        </ul>
    </section>

{{end}}
