{{define "add"}}
<!DOCTYPE html>
<html lang="en">
    {{template "head" "Add"}}
    <body>
        {{template "header" "Add"}}
        <main>
            <form method="POST">
                <input name="sdbox" type="text" placeholder="Sdbox for your vault" required />
                <button>Add Vault</button>
            </form>
        </main>
        {{template "footer"}}
    </body>
</html>
{{end}}
